html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1{
    font-size: 3rem;
    letter-spacing: -1px;
    text-shadow: 0 0 4px white;
    position: absolute;
    left: 20px;
  }

  p {
    position: absolute;
    font-size: 2rem;
    top: 60px;
    left: 20px;
    color: white;
  }

  #btn1 {
    position: absolute;
    font-size: 1.2rem;
    top: 110px;
    left: 20px;
    width: 80px;
    color: white;
  }

  #btn2 {
    position: absolute;
    font-size: 1.2rem;
    top: 110px;
    left: 120px;
    width: 80px;
    color: white;
  }





